<button (click)="toggleLiveDemo()" cButton>Ricerca Città</button>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="inputForm" (ngSubmit)="applySearch()">
    <c-input-group class="flex-nowrap">
      <input aria-describedby="addon-wrapping"
             aria-label="Città"
             cFormControl
             placeholder="Inserisci Città"
      />
    </c-input-group>
  </form>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="primary">Cerca</button>
  </c-modal-footer>
  
</c-modal>